<div class="main">
  <%# ページイメージ画像 %>
  <%= image_tag "schedule-logo.png", class:"logo-image" %>

  <div class="main-title">
    <div class="index-title">
      旅行計画一覧
      <%= image_tag "under-line.png", class:"underline-image" %>
    </div>
      <%= link_to new_itinerary_path, class: "add-list" do %>
        <i class="fa-solid fa-plus">新規プラン</i>
      <% end %>

    <ul class="index-lists">
      <% @itineraries.each do |itinerary| %>
      <li class="lists">
        <%= link_to itinerary_path(itinerary) do %>
        <div class="image-container">
          <%= image_tag "post-it.png", class:"blue-post-it" %>
          <div class="text-overlay">
            <%= itinerary.location %>
            <div class="edit-button">
              <%= link_to edit_itinerary_path(itinerary.id) do%>
                <i class="fa-solid fa-pen-to-square"></i>
              <% end %>
            </div>
            <div class="date-info">
              <i class="fa-solid fa-plane-departure">:<%= itinerary.departure %></i><br>
              <i class="fa-solid fa-plane-arrival">:<%= itinerary.arrival %></i>
            </div>
          </div>
        <% end %>
      </li>
      <% end %>
    </ul>

    <%= render "shared/footer" %>
  </div>
</div>