<%= render "shared/header"%>
<div class="main">
  <div class="itinerary-main">
    <h1>旅行計画一覧</h1>
    <i class="fa-solid fa-plus"></i>
    <%= link_to "新規追加", new_itinerary_path, class: "add-list" %>

    <ul class="itinerary-lists">
      <% @itineraries.each do |itinerary| %>
      <li class="list">
        <%= link_to "#" do %>
        <div class="itinerary-info">
          <h5 class="location">
            <%= itinerary.location %>
          <h5>
          <div class="date">
            <%= itinerary.date %>
          </div>
        <% end %>
      </li>
      <% end %>
    </ul>
  </div>
</div>
