<%= render "shared/header"%>

<div class="main">
  <div class="itinerary-title">
    旅行プランを作成する
  </div>
  <%= form_with model: @itinerary, local: true do |f| %>
    <div class="fill-in-form">
      <div class="location-form">
        プラン名：
        <%= f.text_area :location, class:"itinerary-text", id:"location", placeholder:"例）沖縄旅行2024" %>
      </div>
      <div class="date-form">
        期間 ：
        <%= f.date_field :departure %>　〜　
        <%= f.date_field :arrival %>
      </div>
      <div class="itinerary-button">
        <%= f.submit "旅程を作成する", class:"save-btn"%>
      </div>
    </div>
  <% end %>
</div>