<%= render "shared/header"%>

<%# スケジュール全体を表示 %>
<div class="schedule-show">
  <div class="schedule-title">
    <h3 class="location">
      <%= @itinerary.location %>
    </h3>
    <div class="date">
      <%= @itinerary.date%>
    </div>
  </div>
  <div class="container">
    <% if user_signed_in? && current_user.id %>
      <%= form_with(model: [@itinerary, @plan], local: true) do |form| %>
        <%= form.text_area :time, placeholder: "10:00~11:00", rows: "1"%>
        <%= form.text_area :content, placeholder: "東京駅→大阪　新幹線で移動" %>
        <%= form.submit "保存する"%>
      <% end %>
    <% end %>

    <div class="plans">
      <h3>スケジュール表</h3>
      <% @plans.each do |plan| %>
        <p>
          <%= plan.time %>
          <%= plan.content %>
        </p>
      <% end %>
    </div>
  </div>
</div>