<%= render "shared/header"%>

<%# スケジュール全体を表示 %>
<div class="main">
  <div class="list-title">
    <div class="sightseeing-title">
      <%= @list.sightseeing %>
    </div>
  </div>
  <div class="container-spot">
    <div class="spots">
      <% if user_signed_in? && current_user.id %>
        <%= form_with(model: [@list, @spot], local: true) do |form| %>
          <%= form.text_area :suggestion, placeholder: "行きたい場所を入力", rows: "1"%>
          <%= form.submit "保存する"%>
        <% end %>
      <% end %>

      <h3>スケジュール</h3>
      <% @spots.each do |spot| %>
        <p>
          <%= spot.suggestion %>
        </p>
      <% end %>
    </div>
  </div>
</div>