<%= render "shared/header"%>

<%# お土産リストトップ %>
<div class="main">
  <div class="souvenir-title">
    <h3>お土産リスト</h3>
  </div>
  <div class="souvenir-prepare">
    <div class="souvenirs">
      <% if user_signed_in? && current_user.id %>
        <%= form_with(model: @souvenir, local: true) do |form| %>
          <%= form.text_area :who, placeholder: "誰にお土産を買っていく？", rows: "1"%>
          <%= form.submit "保存する"%>
        <% end %>
      <% end %>

      <%= form_with model: @souvenir, local: true do |form| %>
        <% @souvenirs.each do |souvenir| %>
          <p>
            <%= form.check_box souvenir %>
            <%= souvenir.who %>
          </p>
        <% end %>
      <% end %>
    </div>
  </div>
</div>