<div class="main">
  <%# ページイメージ画像 %>
  <%= image_tag "souvenir-logo.png", class:"logo-image" %>

  <%# お土産リストトップ %>
  <div class="main-title">
    <div class="index-title">
      お土産リスト
      <%= image_tag "under-line.png", class:"underline-image" %>
    </div>
  </div>
  <%# お土産一覧 %>
  <div class="add-data">
    <% if user_signed_in? && current_user.id %>
      <%= form_with(model: @souvenir, local: true) do |form| %>
        <%= form.text_area :who, placeholder: "誰にお土産を買っていく？", rows: "1", class: "fill-in-form"%>
        <%= form.submit "保存する", class: "save-btn"%>
      <% end %>
    <% end %>
  </div>
    <div class="each-lists">
      <%= form_with model: @souvenir, local: true do |form| %>
        <div class="each-list">
        <% @souvenirs.each do |souvenir| %>
          <p>
            <%= form.check_box souvenir %>
            <%= souvenir.who %>
          </p>
        <% end %>
        </div>
      <% end %>
    </div>
  <%= render "shared/footer" %>
</div>