<div class="main">
  <%# ページイメージ画像 %>
  <%= image_tag "prepare-logo.png", class:"logo-image" %>

  <%# 持ち物リストタイトル %>
  <div class="main-title">
    <div class="index-title">
      持ち物リスト
      <%= image_tag "under-line.png", class:"underline-image" %>
    </div>
  </div>
  <%# 持ち物一覧 %>
  <div class="add-data">
    <% if user_signed_in? && current_user.id %>
      <%= form_with(model: @prepare, local: true) do |form| %>
        <%= form.text_area :item, placeholder: "持ち物を記入する", rows: "1", class: "fill-in-form" %>
        <%= form.submit "保存する", class: "save-btn" %>
      <% end %>
    <% end %>
  </div>
  <div class="each-lists">
    <%= form_with model: @prepare, local: true do |form| %>
      <% @prepares.each do |prepare| %>
        <p>
          <%= form.check_box prepare %>
          <%= prepare.item %>
        </p>
      <% end %>
    <% end %>
  </div>
  <%= render "shared/footer" %>
</div>